@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-emoji {
    font-family:
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Noto Color Emoji",
      "Twemoji Mozilla",
      sans-serif;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 9% 23%;

    --primary: 28 95% 53%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 220 9% 23%;

    --muted: 210 20% 96%;
    --muted-foreground: 218 12% 46%;

    --border: 215 20% 92%;
    --ring: 28 95% 53%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 95%;

    --primary: 28 95% 53%;
    --primary-foreground: 0 0% 0%;

    --card: 0 0% 6%;
    --card-foreground: 0 0% 95%;

    --muted: 0 0% 12%;
    --muted-foreground: 214 16% 64%;

    --border: 0 0% 16%;
    --ring: 28 95% 53%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-inter antialiased;
  }
}
